/* Pre Styling For Site */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgoldenrodyellow;
}

/* Navigation Bar */

nav {
    display: flex;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid black;
}

.logo {
    width: 15%;
    font-size: 19px;
    text-align: center;
}

.navLinks {
    width: 100%;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: right;
}

.navLinks a {
    text-decoration: none;
    margin-right: 1rem;
    font-size: 19px;
}

/* Main Area */
/* Home Section */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3904F;
    background: -webkit-linear-gradient(to right, #3B4371, #F3904F);
    background: linear-gradient(to right, #3B4371, #F3904F);

}

/* GameArea Section */
.gameArea {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    justify-content: center;
}

/* About Section */
.about {
    height: 100vh;
    padding: 1rem 2rem;
}